body{
    background-color: black;
    color: rgb(218, 214, 209);  
}

.set{
    background-color: rgb(80, 76, 77);
    margin: 15px;
    padding: 20px;
    border: solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: x-large;
}

.quizset{
    background-color: rgb(0, 44, 38);
    margin: 10px;
    padding-left:25px;
    border: solid rgb(142, 139, 139);
    border-radius: 10px;
    font-size: large;
}


.submit{
    display: flex;
    justify-self:end;
    margin-right: 13px;
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-size: 17px;
    padding: 10px;
    width: 100px;
    background-color: rgb(203, 247, 242);
    border: solid 2px rgb(53, 51, 51);
    border-radius: 6px;
}
th{
    height: 50px;
   border-collapse: collapse;
    border: solid 3px;
    border-color: rgb(6, 73, 36); 
}
table, td{
    width:50%;
    margin-left: 40px;
    padding: 10px;
    border-collapse: collapse;
    border: solid 3px;
    border-color: rgb(6, 73, 36);
    text-align: center;
    
}
.anslistclass{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 5);
    margin: 10px;
    padding: 10px;
    border: solid rgb(142, 139, 139);
    border-radius: 30px;
    font-size: large;
}

h1, h2{
    display: flex;
    justify-content: center;
}